*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li ,a ,button{
    font-family: "Montserrat" , sans-serif;
    font-size: 16px;
    text-decoration: none;
}

header {
    background-color: white !important;
    font-size: 28px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: rgba(247,247,247,255);
}
.navL{
    list-style: none;
}
.navL li {
    display: inline-block;
    padding: 0px 20px;
}
.navL li  a{
   color: black;
}
.cta{
    background-color: #FE5454;
    padding: 12px 30px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: white !important;
    border-radius: 12%;

}
